/* Align items vertically in header */
.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays on top */
  background-color: white; /* Background color to prevent transparency when scrolling */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  padding: 10px 0;
}

/* Adjust alignment for the logo */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 10px; /* Adds spacing between menu items */
}

.nav-item:hover .nav-link {
  text-decoration: underline;
}

/* Add top padding to the body or content to prevent it from being hidden under the fixed navbar */
body {
  padding-top: 80px; /* Adjust this based on your navbar height */
}

/* Style for the toggle button (moon/sun switch) */
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4d89c9;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.checkbox:checked + .checkbox-label {
  background-color: #292c35;
}

.checkbox-label .fas {
  color: #fff;
}

.checkbox-label .fa-moon {
  color: skyblue;
}

.checkbox-label .fa-sun {
  color: #ffffff;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  /*transition: transform 0.2s linear;*/
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #292c35;
  color: #fff;
}

/* Make the alert container fixed to the top-right of the screen */
#alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050; /* Ensure it's above other elements */
  max-width: 300px; /* Optional: limit the width of the alert */
}

/* Additional styling for alert close button and transitions */
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.alert:hover {
  opacity: 1.0; /* Make it fully opaque when hovered */
}
