{% extends "base.html" %}

{% block title %}Contact - OutfitPoseEditor{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Contact Us</h2>
    <p>If you have any questions or inquiries, feel free to contact us through the form below or reach out to one of our
      team members directly.</p>

    <!-- Contact Form -->
    <form method="post" action="/submit_contact">
      <div class="form-group">
        <label for="name">Your Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
      </div>
      <div class="form-group">
        <label for="email">Your Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="message">Your Message</label>
        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your message"
                  required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>

    <!-- Team Members Section -->
    <div class="team-section mt-5">
      <h3>Our Team</h3>
      <div class="row">
        <!-- Team Member 1 -->
        <div class="col-md-4">
          <div class="team-member text-center">
            <h4>Jaghadishan N.<br/>Ramakrishnan</h4>
            <p>Project Lead</p>
            <p>Email:<br/>Jaghadishan.N.Ramakrishnan@student.uts.edu.au</p>
          </div>
        </div>

        <!-- Team Member 2 -->
        <div class="col-md-4">
          <div class="team-member text-center">
            <h4>Abishek Sundar<br/>Raman</h4>
            <p>AI Developer</p>
            <p>Email:<br/>Abishek.SundarRaman@student.uts.edu.au</p>
          </div>
        </div>

        <!-- Team Member 3 -->
        <div class="col-md-4">
          <div class="team-member text-center">
            <h4>Trong Nghia<br/>Tran</h4>
            <p>Web Developer</p>
            <p>Email:<br/>TrongNghia.Tran@student.uts.edu.au</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
